# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# PHP CS Fixer
.php-cs-fixer.cache
.php-cs-fixer.php

# PHPUnit
.phpunit.result.cache
.phpunit.cache
.phpunit.cache/

# Dependencies
/vendor/
composer.lock

# Build & Coverage
/build/
coverage/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Laravel
.env
storage/*.key
public/storage
public/hot

# OS
.DS_Store
*.swp
*.swo
Thumbs.db
